body {
  background: linear-gradient(45deg, #0ba, #4af);
  background-attachment: fixed;
}

#connectionStatus {
  padding: 10px;
  background: #fffa;
  border-radius: 5px;
}

#messageContainer {
  overflow-y: auto;
  height: 60vh;
}

#messageContainer p {
  font-size: 18px;
  font-family: Arial;
  padding: 10px;
  margin: 0 2px;
  overflow-wrap: break-word;
  border-radius: 5px;
  background: #eee;
}

#messageContainer p.yelling{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

#messageContainer > span {
  display: block;
  padding: 10px 0;
  color: #444;
}

#messageContainer p.myMessage {background-color: #fff}

#messageContainer span.mini, #messageContainer time {font-size: 75%}