body {
  background: linear-gradient(45deg, #0ba, #4af);
  background-attachment: fixed;
}

#connection-status {
  padding: 10px;
  background: #fffa;
  border-radius: 5px;
}

#message-container {
  overflow-y: auto;
  height: 60vh;
}

#message-container p {
  font-size: 18px;
  font-family: Arial;
  padding: 10px;
  margin: 0 2px;
  overflow-wrap: break-word;
  border-radius: 5px;
  background: #eee;
}

#message-container p.yelling{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

#message-container > span {
  display: block;
  padding: 10px 0;
  color: #444;
}

#message-container p.my-message {background-color: #fff}

#message-container span.mini, #message-container time {font-size: 75%}